<div class="container">
  <h1>List of Posts</h1>
  <br>
  <div>
    <button [routerLink]="['/posts/create']" class="btn btn-success">Create</button>
  </div>
  <div>
    <button [routerLink]="['/fruits/home']" class="btn btn-info">Go to Fruits</button>
  </div>
  <br><br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Content</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{post.id}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>
      <td>
        <button [routerLink]="['/posts/details', post.id]" class="btn btn-info">View</button> &nbsp;
        <button [routerLink]="['/posts/edit', post.id]" class="btn btn-primary">Edit</button> &nbsp;
        <button class="btn btn-danger" (click)="deletePost(post.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
