<div class="container">
  <h1>Create New Post</h1>
  <br><br>

  <a routerLink="/posts/home" class="btn btn-primary">Back</a>

  <form>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" name = "title" class="form-control">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <input type="text" name="body" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>

</div>
